[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "==4.6.3"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
